{% extends "base.html" %}
{% block content %}

<!-- Always shows a header, even in smaller screens. -->
<div class="chat-box">
  {% if request.user.is_authenticated %}

  {% for message in messages %}
  <div class="chat">
    <span class="text-gray">[{{ message.created_at }}]</span> {{ message.author}}: <i>{{ message.text }}</i>
  </div>
  {% endfor %}
  <form action="/chat/" method="post">
    {% csrf_token %}
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input name="textmessage" class="mdl-textfield__input" type="text" id="sample3">
        <label class="mdl-textfield__label" for="sample3">Text...</label>
      </div>
    </div>
    



  <!-- Accent-colored raised button with ripple -->
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
Send
</button>
</form>
{% else %}
<h1>Not Logged in</h1>
<p>You are not logged in. Please login in to see chat!</p><br>
Please click <a href="/login/">here</a>
{% endif %}
{% endblock %}
